*{
  box-sizing: border-box;
  position: relative;
}
body {
  font-size: 20px;
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;
  background-color: #659fe0;
}
.wrapper{
  width: 1200px;
  margin: 0 auto;
  padding: 150px 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
:root{
  --chinese-font: "微軟正黑體", "思源黑體", "Roboto", sans-serif;
  --number-font: "Comic Sans MS";
}